In [1]:
import pandas as pd

In [2]:
arr = pd.Series(['사과','딸기','수박'],index=['A','B','C'])
print(arr)
print(arr['C'])

A    사과
B    딸기
C    수박
dtype: object
수박

In [3]:
# series로 변환

data = {
    'A':'사과',
    'B':'딸기'
}
arr=pd.Series(data)
print(arr)

A    사과
B    딸기
dtype: object

In [4]:
# DataFrame

data = {
    'A':'사과',
    'B':'딸기'
}

count = {
    'A':3,
    'B':1
}

carr=pd.Series(count)
summ = pd.DataFrame({
    '과일':data,
    '개수':count
})

print(summ)

   과일  개수
A  사과   3
B  딸기   1

In [5]:
# 데이터 추가
onec = {
    'A':500,
    'B':100
}
onec = pd.Series(onec)
summ['단가'] = onec
print(summ)

# series 연산
summ['총가격'] = summ['개수'] * summ['단가']
print(summ)

   과일  개수   단가
A  사과   3  500
B  딸기   1  100
   과일  개수   단가   총가격
A  사과   3  500  1500
B  딸기   1  100   100

In [6]:
# 슬라이싱

print(summ)

# 이름 기준
print(summ.loc[:'A','과일':'개수'])

# 인덱스 기준
print(summ.iloc[0:2,2:])

   과일  개수   단가   총가격
A  사과   3  500  1500
B  딸기   1  100   100
   과일  개수
A  사과   3
    단가   총가격
A  500  1500
B  100   100

In [7]:
# 데이터 추가

print(summ)
summ.loc['C'] = ['수박',2,1000,1]
summ['총가격'] = summ['개수'] * summ['단가']
print(summ)

   과일  개수   단가   총가격
A  사과   3  500  1500
B  딸기   1  100   100
   과일  개수    단가   총가격
A  사과   3   500  1500
B  딸기   1   100   100
C  수박   2  1000  2000

In [8]:
# 엑셀(CSV)로 저장, 불러오기

summ.to_csv("summ1.csv",encoding='utf-8-sig')
saved = pd.read_csv("summ1.csv",index_col=0) # 0번째 열을 인덱스로 지정
print(saved)

   과일  개수    단가   총가격
A  사과   3   500  1500
B  딸기   1   100   100
C  수박   2  1000  2000

In [9]:
# 행 삭제

new = saved.drop('C',axis=0)
print(new)

   과일  개수   단가   총가격
A  사과   3  500  1500
B  딸기   1  100   100

In [10]:
# 열 삭제

new = saved.drop('총가격',axis=1)
print(new)

   과일  개수    단가
A  사과   3   500
B  딸기   1   100
C  수박   2  1000

In [11]:
# 인덱스, 컬럼으로 삭제

new = saved.drop(saved.columns[1],axis=1)
print(new)

new = saved.drop(saved.index[1],axis=0)
print(new)

   과일    단가   총가격
A  사과   500  1500
B  딸기   100   100
C  수박  1000  2000
   과일  개수    단가   총가격
A  사과   3   500  1500
C  수박   2  1000  2000

In [12]:
new = saved
new.loc['C','단가'] = None
print(new)

# null 확인
print(new.isnull())

   과일  개수     단가   총가격
A  사과   3  500.0  1500
B  딸기   1  100.0   100
C  수박   2    NaN  2000
      과일     개수     단가    총가격
A  False  False  False  False
B  False  False  False  False
C  False  False   True  False

In [13]:
# 데이터프레임 더하기

array1 = pd.DataFrame([[1, 2], [3, 4]], index=['A', 'B'])
array2 = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]], index=['B', 'C', 'D'])
array1 = array1.add(array2,fill_value=0) # nan에 0을 채워서 게산
print(array1)

     0    1    2
A  1.0  2.0  NaN
B  4.0  6.0  3.0
C  4.0  5.0  6.0
D  7.0  8.0  9.0

In [14]:
# 행/열의 합

print(array1[0].sum(axis=0))
print(array1.loc['A'].sum(axis=0))

16.0
3.0

In [15]:
array1.loc['A',2] = 1.0

# 정렬

# 내림차순
array1 = array1.sort_values(1,ascending=False)
print(array1)

# 오름차순
array1 = array1.sort_values(1,ascending=True)
print(array1)

     0    1    2
D  7.0  8.0  9.0
B  4.0  6.0  3.0
C  4.0  5.0  6.0
A  1.0  2.0  1.0
     0    1    2
A  1.0  2.0  1.0
C  4.0  5.0  6.0
B  4.0  6.0  3.0
D  7.0  8.0  9.0

In [16]:
# 행 열 변환
array1=array1.transpose()

# 쿼리
print(array1<=5)
print(array1.query("B <= 5"))

      A      C      B      D
0  True   True   True  False
1  True   True  False  False
2  True  False   True  False
     A    C    B    D
0  1.0  4.0  4.0  7.0
2  1.0  6.0  3.0  9.0

In [17]:
# 변경
print(array1.replace({1:'1임'}))

     A    C    B    D
0   1임  4.0  4.0  7.0
1  2.0  5.0  6.0  8.0
2   1임  6.0  3.0  9.0